/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* wildcard selector to overide default style added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* css variables */
:root {
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Inter", sans-serif;
    --base-color: #F8F5EE; /* light yellow */
    --primary-color: #031c36; /* dark blue */
    --secondary-color: #14467c; /* blue */
    --feature-color-1: #F9CC48; /* yellow */
    --feature-color-2: #52B774; /* green */
}

/* general styles */

/* navigation */
nav {
    font-family: var(--primary-font);
    background-color: var(--feature-color-1);
}

/* body */
body {
    font-family: var(--secondary-font);
    background-color: var(--base-color); /*light yellow */
}



/* footer */
footer {
    font-family: var(--secondary-font);
    background-color: var(--feature-color-1);
}