/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* wildcard selector to overide default style added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--secondary-font);
}

/* css variables */
:root {
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "PT Serif", sans-serif;
    --base-color: #F8F5EE; /* light yellow */
    --primary-color: #01254b; /* dark blue */
    --secondary-color: #14467c; /* blue */
    --feature-color-1: #F9CC48; /* yellow */
    --feature-color-2: #52B774; /* green */
}

/* general styles */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.section {
    padding-top: 2rem;
}

.sharp-button {
    border-radius: 0;
}

/* navigation */
nav {
    background-color: var(--feature-color-1);
}

nav .navbar-brand, nav .nav-link {
    color: var(--primary-color);
    font-family: var(--primary-font);
}

#active {
    color: var(--secondary-color);
    text-decoration: underline;
    font-weight: bold;
}

#logo {
    font-size: 1.75rem;
}

nav .btn {
    background-color: var(--feature-color-2);
    color: var(--primary-color);
    border: var(--feature-color-2) 2px solid;
    font-family: var(--primary-font);
}

nav .btn:hover {
    background-color: var(--primary-color);
    color: white;
    border: var(--primary-color) 2px solid;
}

/* body */
body {
    font-family: var(--secondary-font);
    background-color: var(--base-color);
}

/* main */

/* hero */
.hero {
    position: relative;
    height: 60vh;
    background: url('../images/heroimage.png') no-repeat center center/cover;
}


.hero-text {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--secondary-color);
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: rgba(249, 204, 72, 0.5); ;
}

.hero-text h1, .hero-text p {
    margin: 0;
}

/* about */
.about h3 {
    color: var(--primary-color);
}

.about-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about img {
    width: 75%;
    height: auto;
    border-radius: 10%;
    margin: auto; /* Center the image horizontally and vertically */
}

.about p {
    color: var(--secondary-color);
}

/* awareness */
.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.awareness h3 {
    color: var(--primary-color);
}

.awareness p {
    color: var(--secondary-color);
}

.awareness .btn {
    background-color: var(--feature-color-2);
    color: var(--primary-color);
    border: var(--feature-color-2) 2px solid;
    font-family: var(--primary-font);
}

.awareness .btn:hover {
    background-color: var(--primary-color);
    color: white;
    border: var(--primary-color) 2px solid;
}

/* info */
/* sidebar */
.sidebar {
    background-color: var(--base-color);
}

.info .btn {
    background-color: var(--feature-color-2);
    color: var(--primary-color);
    border: var(--feature-color-2) 2px solid;
    font-family: var(--primary-font);
}

.sidebar hr {
    margin: 0;
}

/* info-main */
.info-img img {
    width: 100%;
}
   


/* footer */
footer {
    color: var(--primary-color);
    background-color: var(--feature-color-1);
}

footer li {
    font-family: var(--primary-font);
}

footer i {
    color: var(--primary-color);
    font-size: x-large;
    margin: auto 1rem;
}

footer .btn {
    background-color: var(--feature-color-2);
    color: var(--primary-color);
    border: var(--feature-color-2) 2px solid;
    font-family: var(--primary-font);
}

footer .btn:hover {
    background-color: var(--primary-color);
    color: white;
    border: var(--primary-color) 2px solid;
}

/* media queries */

/* medium screens (768px and above) */
@media screen and (min-width: 768px) {
    /* navigation */
    #logo {
        font-size: 2rem; /*fix navbar ovcerflow issue */
    }

    /*main */
    /*about */
    .about img {
        width: 50%;
    }
}

/* large screens (992px and above) */
@media screen and (min-width: 992px) {
    /*main */
    /*about */
    .about img {
        width: 70%;
    }
}

